{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/movie_card.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " href="{% url 'home'  %}">Streamer</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <div class="col-md-8  mx-auto ">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
            <!--  MOVIES START-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/search/1/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movies</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/search/Hollywood/">HOLLYWOOD</a>
              <a class="dropdown-item" href="/search/Bollywood/">BOLLYWOOD</a>
              <a class="dropdown-item" href="/search/Animation/">ANIMATION</a>
              <a class="dropdown-item" href="/search/Foreign/">FOREIGN</a>
              <a class="dropdown-item" href="/search/French/">FRENCH</a>
              <a class="dropdown-item" href="/search/Chinese/">CHINESE</a>
              <a class="dropdown-item" href="/search/French/Indianbangla">INDIAN BANGLA</a>
              <a class="dropdown-item" href="/search/Italian/">ITALIAN</a>
              <a class="dropdown-item" href="/search/Japanese/">JAPANESE</a>
              <a class="dropdown-item" href="/search/Korean/">KOREAN</a>
              <a class="dropdown-item" href="/search/Russian/">RUSSIAN</a>
              <a class="dropdown-item" href="/search/Tamil/">TAMIL</a>
              <a class="dropdown-item" href="/search/Asian/">ASIAN</a>
            </div>
            </li>
                <!-- MOVIES END -->

<!-- 
                    TV SERIES  START -->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="/search/1/" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TV Series</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="/search/English Tv Series/">ENGLISH TV SERIES</a>
                        <a class="dropdown-item" href="/search/Korean Tv Series/">KOREAN TV SERIES</a>
                        <a class="dropdown-item" href="/search/Hindi Tv Series/">HINDI TV SERIES</a>
                        <a class="dropdown-item" href="/search/Bengali Tv Series/">BENGALI TV SERIES</a>
                        <a class="dropdown-item" href="/search/English Tv Series/">BENGALI NATOK</a>
                        <a class="dropdown-item" href="/search/Chinese Tv Series/">CHINESE</a>
                        <a class="dropdown-item" href="/search/English Tv Series/">INDIAN BANGLA</a>
                      </div>
                      </li>
                      <!-- TV SERIES END -->
              <!-- GAMES START -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/search/1/" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                  <a class="dropdown-item" href="#">ONLINE GAMES</a>
                  <a class="dropdown-item" href="#">PC GAMES</a>
                  <a class="dropdown-item" href="#">ANDROID  GAMES</a>
                </div>
                </li>
                <!-- GAMES END -->
          <li class="nav-item">
            <a class="nav-link" href="/search/3/">Software</a>
          </li>
          
        </ul>
        
      </div>
      <form class="form-inline my-2 my-lg-0" action="." method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search"  name="search">
        <button class="btn btn-danger  my-2 my-sm-0" type="button" onclick="searchMathod()"> <i class="fas fa-search"></i> Search</button>
      </form>
     
    </div>
  </nav>
 

      <div class="all">
        <h1>{{types.typename}}</h1>
      </div>

      <!-- Body -->

      <div class="row mt-5  justify-content-center " style="margin-left: 15px !important;">
       
        {% for movie in movies %}
        
      
      <div class="card mt-5 mb-2 col-xl-2 col-lg-2 col-md-2  col-sm-6 col-xs-12 " style="width: 18rem; margin-left: 10px; ">
        <a href="{% url 'video' movie.id %}"><img src="{{movie.image.url}}" class="img-thumbnail"></a>
        <div class="card-body">
         <h5  class="card-title text-center">{{movie.movietitle}}</h5>
         <!-- <div class="truncateLongTexts">
          {{movie.description}}
         </div> -->
        
        </div>
      </div>
      {% endfor %}
      </div>
       
      </div>






      <script type='text/javascript'>
        function searchMathod(){
          var val=document.getElementsByName('search')[0].value;
          window.open('/searches/'+val,'_self');
        }
      </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>