{% extends 'deshboard/base.html' %} 
{% block title %} Add Movie Item page {% endblock title %} 
{% block content %}
<!--Content Goes here-->
<h1 class="text-center">Welcome to Online Movie Streaming Site SolutionTent</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-10 col-md-8 col-xl-12">
      <div class="card shadow-lg p-3 mb-5 rounded">
        <form method="POST" action="" novalidate>
          {% csrf_token %}
          <div class="card-header bg-dark">
            <div class="card-title text-center">
              <h1 class="text-light">Add Movie Item</h1>
            </div>
          </div>
          <div class="card-body" style="padding-bottom: 50px">
            <div style="padding-bottom: 20px">
              <!--{{ form.as_p }}-->
              {% for field in form %}
              <div class="fieldWrapper">
                {{ field.errors }} {{ field.label_tag }} {{ field }}
                <br />
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
              {% endfor %}
            </div>
            <div style="margin-left: 400px">
              <button
                id="submit"
                type="submit"
                class="btn btn-success"
                value="Submit"
              >
                Submit
              </button>

              <button
                id="cancel"
                type="reset"
                class="btn btn-danger"
                value="Cancel"
              >
                <a href="{% url 'all_movies' %}"></a>Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
<!-- class="text-dark text" -->
