{% extends 'deshboard/base.html' %} {% block title %} Show All Movies {% endblock title %}
{% block content %}
<!--Content Goes here-->
<div class="container-fluid">
  <div class="row">
    <div
      class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl"
    >
      <table class="table table-hover table-bordered">
        <caption
          style="caption-side: top; margin-top: 20px"
          class="text-center"
        >
          <h1>All Movies</h1>
          <p>Total Movie: {{ count_movie }}</p>
        </caption>
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <!--th>Image</th-->
            <th>Movie Name</th>
            <th>Movie Category</th>
            <th>Movie Rating</th>
            <th>Actors</th>
            <th>Movie Size</th>
            <th>Upload Time</th>
            <th>Action</th>
          </tr>
        </thead>

        {% for data in movie_list %}
        <tbody>
          <tr>
            <th>{{ data.pk }}</th>
            <!--td>
              <img src="{{ data.movie_list.url }}" width="100" height="100" />
            </td-->
            <td>{{ data.movietitle }}</td>
            <td>{{ data.moviecategory }}</td>
            <td>{{ data.movieratings }}</td>
            <td>{{ data.movieactors }}</td>
            <td>{{ data.moviesize }}</td>
            <td>{{ data.uploadtime }}</td>
            <td>
              <a 
                type="button"
                value="Edit"
                class="btn btn-secondary mb-3 btn-block"
                href="{% url 'edit_movie' pk=data.pk %}"
                style="margin: auto"
              >
                Edit
              </a>
              <a
                type="button"
                value="Delete"
                class="btn btn-danger"
                href="{% url 'delete_movie' pk=data.pk %}"
                style="margin: auto"
              >
                Delete
              </a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
